<%= form_for @type do |f| %>
  <% if @type.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@type.errors.count, "error") %> prohibited
      this post from being saved:
    </h2>
    <ul>
    <% @type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p> 

  <p>
    <%= f.submit %>
  </p>
<% end %>