<h1>Listing Types</h1>
<%= link_to 'Main', {:controller => 'products', :action => :index}, {:class => 'btn btn-info'} %>
<%= link_to 'New Type', {:controller => 'types', :action => :new}, {:class => 'btn btn-primary'} %>
<br/><br/>
<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>  
  </tr>

  <% @types.each do |type| %>
    <tr>
      <td><%= type.name %></td>
      <td><%= link_to 'Edit', :action => :edit, :id => type.id %></td>
      <td><%= link_to 'Delete', { :action => :destroy, :id => type.id }, :method => :delete, :data => { :confirm => 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>