<br/>
<%= link_to 'Main', {:controller => 'welcomes', :action => :index}, {:class => 'btn btn-info'} %>
<h1>Listing Products</h1>
<%= link_to 'New Product', {:controller => 'products', :action => :new}, {:class => 'btn btn-primary'} %>
<br/><br/>
<table class="table">
  <tr>
    <th>Id</th>
  	<th>Type</th> 
    <th>Description</th>
    <th>Amount</th>
    <th></th>    
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
  	<td><%= product.type %></td>
  	<td><%= product.description %></td>
  	<td><%= product.amount %></td>
    <td><%= link_to 'Delete', { :action => :destroy, :id => product.id }, :method => :delete, :data => { :confirm => 'Are you sure?'} %></td>
  </tr>
  <% end %>
  
</table>